.dialog-pane .content {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.dialog-pane .content.label {
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}